In [10]:
import pandas as pd

# 샘플 DataFrame 생성
df = pd.DataFrame({
    'A': ['foo', 'bar', 'baz'],
    'B': [1, 2, 3]
}, index=['x', 'y', 'z'])

print("원본 DataFrame:")
print(df)

원본 DataFrame:
     A  B
x  foo  1
y  bar  2
z  baz  3

In [6]:
df = df.reset_index()
df

  index    A  B
0     x  foo  1
1     y  bar  2
2     z  baz  3

In [12]:
# 인덱스를 제거하고 기본 정수 인덱스를 사용
df_drop = df.reset_index(drop=True)
df_drop

     A  B
0  foo  1
1  bar  2
2  baz  3

In [16]:
# 샘플 DataFrame 생성
df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar'],
    'B': [1, 2, 3, 4]
})

grouped = df.groupby("A").sum()
grouped = grouped.reset_index()
grouped

     A  B
0  bar  6
1  foo  4